NODE_ENV=development
PORT=
#app HOSTNAME
HOST_NAME=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=film_database

#JWT
JWT_SECRET=super_secret_change_meme
JWT_EXPIRES_IN=7d

# Subscription/VIP cron
# Default trong code là 1 giờ nếu không set. Ví dụ 10 phút = 600000
SUBSCRIPTION_CRON_INTERVAL_MS=3600000
# Đặt true nếu muốn tắt cron reconcile subscription
DISABLE_SUBSCRIPTION_CRON=false
